<div class="container">
  <h1>Modificar Agente</h1>
  <form class="add-agent-form">
    <div class="form-left">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [value]="agente.nombre" placeholder="Nombre">
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" [value]="agente.apellidos" placeholder="Apellidos">
      </div>
      <div class="form-group">
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dni" [value]="agente.dni" placeholder="12345678">
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" [value]="agente.telefono" placeholder="999 999 999">
      </div>
      <div class="form-group">
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" [value]="agente.correo" placeholder="example@example.com">
      </div>
      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" [value]="agente.contrasena" placeholder="********">
      </div>
      <div class="form-group">
        <label for="confirmar-contrasena">Confirmar Contraseña:</label>
        <input type="password" id="confirmar-contrasena" name="confirmar-contrasena" [value]="agente.confirmarContrasena" placeholder="********">
      </div>
    </div>

    <div class="photo-uploader">
      <div class="photo-container" (click)="triggerFileInput()">
        <div class="photo-placeholder">
          <img [src]="selectedImage || 'assets/img/icons/subida_de_imagen.png'" alt="Agregar Foto">
        </div>
      </div>
      <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" hidden>
      <div class="actions">
        <button type="button" class="cancel-button" (click)="onCancel()">Cancelar</button>
        <button type="button" class="add-button" (click)="onAgregar()">Agregar</button>
      </div>
    </div>
  </form>
</div>
