h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.add-agent-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 820px;
  height: 100%;
  margin: auto;
}

section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}
.form-group-exception{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 20pt;
}


input[type="text"], input[type="email"], input[type="password"], input[type="file"] {
  background-color: #E0E0E0;
  color: #012169;
  border-bottom: solid 2px #012169;
  border-top: solid 0px #012169;
  border-left: solid 0px #012169;
  border-right: solid 0px #012169;
  font-size: 18pt;
  width: 400px;
}
.form-actions{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.add-button{
  padding: 10px 100px;
  background: #012169;
  font-size: 15pt;
  color: #ffffff;
  border-radius: 5px;
  border: solid 1px #012169;
  transition: 0.2s;
}
.add-button:hover{
  background: #FD924E;
}
.add-button:active{
  background: #012169;
}
.cancel-button{
  padding: 10px 100px;
  background: #000;
  font-size: 15pt;
  color: #ffffff;
  border-radius: 5px;
  border: solid 1px #000;
  transition: 0.2s;
}
.cancel-button:hover {
  background: #fff;
  color: #000;
}
.cancel-button:active {
  background: #000;
  color: #fff;
}
