<h1>Modificar Agente</h1>
<form [formGroup]="agenteForm" (ngSubmit)="onSubmit()" class="add-agent-form">
  <section>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre" required>
    </div>
    <div class="form-group">
      <label for="apellidos">Apellidos:</label>
      <input type="text" id="apellidos" formControlName="apellidos" required>
    </div>
  </section>
  <section>
    <div class="form-group">
      <label for="dni">DNI:</label>
      <input type="text" id="dni" formControlName="dni" required>
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input type="text" id="telefono" formControlName="telefono" required>
    </div>
  </section>
  <section>
    <div class="form-group-exception">
      <label for="inmobiliaria">Inmobiliaria:</label>
      <input type="text" id="inmobiliaria" formControlName="inmobiliaria" required>
    </div>
  </section>
  <section>
    <div class="form-group">
      <label for="correo">Correo:</label>
      <input type="email" id="correo" formControlName="correo" required>
    </div>
    <div class="form-group">
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" formControlName="contrasena" required>
    </div>
  </section>

  <div class="form-actions">
    <button type="submit" class="add-button">Modificar</button>
    <button type="button" class="cancel-button" routerLink="/gestionarAgente">Cancelar</button>
  </div>
</form>
