<div class="titulo">
  <h1>Gestionar Propiedades</h1>
  <button class="btnAgregar" (click)="openModal()">Agregar Propiedad</button>
</div>
<div class="container">
  <div *ngFor="let propiedad of propiedades" class="propiedadCard">
    <div class="pt1">
      <img [src]="propiedad.fotos.length ? propiedad.fotos[0].nombreFoto : 'assets/img/default.jpg'" alt="Propiedad">
      <div class="seccion">
        <div class="tipoPropiedad">
          <p>{{ propiedad.tipoPropiedad }}</p>
        </div>
      </div>
      <div class="precios">
        <div class="precioInicial">
          <p>Inicial: ${{ propiedad.costoInicial }}</p>
        </div>
        <div class="precioTotal">
          <p>Total: ${{ propiedad.costoTotal }}</p>
        </div>
      </div>
      <div class="especificaciones">
        <div class="caracteristica">
          <img src="assets/img/icons/habitacion.png" alt="Habitaciones">
          <p>{{ propiedad.cantDormitorios }}</p>
        </div>
        <div class="caracteristica">
          <img src="assets/img/icons/bano.png" alt="Baños">
          <p>{{ propiedad.cantBanos }}</p>
        </div>
        <div class="caracteristica">
          <img src="assets/img/icons/area.png" alt="Area">
          <p>{{ propiedad.areaTerreno }} m<sup>2</sup></p>
        </div>
      </div>
      <div class="direccion">
        <p>{{ propiedad.direccion }}, {{ propiedad.distrito }}, {{ propiedad.provincia }}, {{ propiedad.region }}, {{ propiedad.pais }}</p>
      </div>
    </div>
    <div class="opciones">
      <button class="btnModificar">Modificar</button>
      <button class="btnEliminar" (click)="openDeleteModal(propiedad)">Eliminar</button>
    </div>
  </div>
</div>

<!--Modal de Agregar Propiedad-->
<div class="modal" [ngClass]="{'show': isModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Agregar Propiedad</h2>
    <p>Seleccione el tipo de propiedad que desea agregar:</p>
    <div class="button-container">
      <button (click)="addHouse()">
        <img src="assets/img/icons/casa.png" alt="Casa">
        <span>Agregar Casa</span>
      </button>
      <button (click)="addApartment()">
        <img src="assets/img/icons/departamento.png" alt="Departamento">
        <span>Agregar Departamento</span>
      </button>
    </div>
  </div>
</div>

<!-- Modal de Confirmación -->
<div class="modal" [ngClass]="{'show': isDeleteModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeDeleteModal()">&times;</span>
    <h2>Eliminar Propiedad</h2>
    <p>¿Estás seguro que deseas eliminar esta propiedad?</p>
    <div class="button-container">
      <button (click)="confirmDelete()">Sí</button>
      <button (click)="closeDeleteModal()">No</button>
    </div>
  </div>
</div>
