<h1>Agregar Agente</h1>
<form (ngSubmit)="onSubmit()" #agentForm="ngForm" class="add-agent-form">
  <section>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="agent.nombre" required>
    </div>
    <div class="form-group">
      <label for="apellidos">Apellidos:</label>
      <input type="text" id="apellidos" name="apellidos" [(ngModel)]="agent.apellido" required>
    </div>
  </section>
  <section>
    <div class="form-group">
      <label for="dni">DNI:</label>
      <input type="text" id="dni" name="dni" [(ngModel)]="agent.dni" required>
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input type="text" id="telefono" name="telefono" [(ngModel)]="agent.telefono" required>
    </div>
  </section>
  <section>
    <div class="form-group-exception">
      <label for="inmobiliaria">Inmobiliaria:</label>
      <input type="text" id="inmobiliaria" name="inmobiliaria" [(ngModel)]="agent.nombreInmobiliaria" required>
    </div>
  </section>
  <section>
    <div class="form-group">
      <label for="correo">Correo:</label>
      <input type="email" id="correo" name="correo" [(ngModel)]="agent.correo" required>
    </div>
    <div class="form-group">
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" name="contrasena" [(ngModel)]="agent.contrasena" required>
    </div>
  </section>

  <div class="form-actions">
    <button type="submit" class="add-button">Agregar</button>
    <button type="button" class="cancel-button" routerLink="/gestionarAgente">Cancelar</button>
  </div>
</form>
