<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/index">
      <img src="../../../assets/img/Logo.png" alt="Logo de la empresa">
    </a>
  </div>

  <div class="navbar-options">
    <ng-container *ngIf="role === 'Invitado'">
      <a class="navLink" routerLink="/propiedades">
        <img class="navIcon" src="assets/img/icons/propiedades.png" alt="Contactanos">
        <p class="navOpc"> Propiedades</p>
      </a>
      <a class="navLink">
        <img class="navIcon" src="assets/img/icons/documento.png" alt="Articulos">
        <p class="navOpc"> Articulos</p>
      </a>
      <a class="navLink">
        <img class="navIcon" src="assets/img/icons/herramientas.png" alt="Herramientas">
        <p class="navOpc"> Herramientas</p>
      </a>
      <a class="navLink" routerLink="/iniciarSesion">
        <img class="navIcon" src="assets/img/icons/IniciarSesion.png" alt="Iniciar Sesion">
        <p class="navOpc"> Iniciar Sesion</p>
      </a>
    </ng-container>

    <ng-container *ngIf="role === 'Cliente'">
      <a class="navLink" routerLink="/propiedades">
        <img class="navIcon" src="assets/img/icons/propiedades.png" alt="Contactanos">
        <p class="navOpc"> Propiedades</p>
      </a>
      <a class="navLink">
        <img class="navIcon" src="assets/img/icons/documento.png" alt="Articulos">
        <p class="navOpc"> Articulos</p>
      </a>
      <a class="navLink">
        <img class="navIcon" src="assets/img/icons/herramientas.png" alt="Herramientas">
        <p class="navOpc"> Herramientas</p>
      </a>
      <a class="navLink" (click)="logout()">
        <img class="navIcon" src="assets/img/icons/usuario.png" alt="Cerrar Sesion">
        <p class="navOpc"> Cerrar Sesion</p>
      </a>
    </ng-container>

    <ng-container *ngIf="role === 'Agente'">
      <a class="navLink" routerLink="/gestionarPropiedades">
        <img class="navIcon" src="assets/img/icons/GestionarPropiedades.png" alt="Contactanos">
        <p class="navOpc"> Gestionar Propiedades</p>
      </a>
      <a class="navLink" (click)="logout()">
        <img class="navIcon" src="assets/img/icons/usuario.png" alt="Cerrar Sesion">
        <p class="navOpc"> Cerrar Sesion</p>
      </a>
    </ng-container>

    <ng-container *ngIf="role === 'Inmobiliaria'">
      <a class="navLink" routerLink="/gestionarAgente">
        <img class="navIcon" src="assets/img/icons/Agregar%20Agente.png" alt="Contactanos">
        <p class="navOpc"> Gestionar Agentes</p>
      </a>
      <a class="navLink">
        <img class="navIcon" src="assets/img/icons/documento.png" alt="Articulos">
        <p class="navOpc"> Mis Articulos</p>
      </a>
      <a class="navLink" (click)="logout()">
        <img class="navIcon" src="assets/img/icons/usuario.png" alt="Cerrar Sesion">
        <p class="navOpc"> Cerrar Sesion</p>
      </a>
    </ng-container>
  </div>
</nav>
