<div class="propiedadCard">
  <img src="assets/img/casa1.jpg" alt="Propiedad">
  <div class="seccion">
    <div class="tipoPropiedad">
      <p>Casa/Departamento</p>
    </div>
  </div>
  <div class="precios">
    <div class="precioInicial">
      <p>Inicial: $999 999</p>
    </div>
    <div class="precioTotal">
      <p>Total: $999 999</p>
    </div>
  </div>
  <div class="especificaciones">
    <div class="caracteristica">
      <img src="assets/img/icons/habitacion.png" alt="Habitaciones">
      <p>4</p>
    </div>
    <div class="caracteristica">
      <img src="assets/img/icons/bano.png" alt="Baños">
      <p>4</p>
    </div>
    <div class="caracteristica">
      <img src="assets/img/icons/area.png" alt="Area">
      <p>100 m<sup>2</sup></p>
    </div>
  </div>
  <div class="direccion">
    <p>Calle las cucardas 112, Victor Larco, Trujillo, Perú</p>
  </div>
  <div class="ver-mas">
    <button routerLink="/verPropiedad">Ver Mas</button>
  </div>
</div>
