.propiedadCard{
  height: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  gap: 9px;
  border-radius: 5px;
  border: solid 1px #012169;
}
.propiedadCard p{
  margin: 0px;
}
.pt1{
  display: flex;
  flex-direction: column;
  object-fit: contain;
  padding: 10px;
  gap: 9px;
}
.tipoPropiedad{
  padding: 0 5px;
  background-color: #FD924E;
  color: #ffffff;
  font-size: 15pt;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}
.precios{
  display: flex;
  flex-direction: row;
  font-size: 15pt;
  justify-content: space-around;
}

.especificaciones{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}
.caracteristica{
  display: flex;
  flex-direction: row;
  height: 30px;
  font-size: 15pt;
  object-fit: contain;
}
.direccion{
  padding: 0 10px;
  font-size: 13pt;
}

.ver-mas {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.ver-mas button {
  padding: 8px 15px;
  background-color: #012169;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16pt;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ver-mas button:hover {
  background-color: #7387b1;
}
