<h1>Propiedades</h1>
<div class="container">
  <div *ngFor="let propiedad of propiedades" class="propiedadCard">
    <div class="pt1">
      <img *ngIf="propiedad.fotos.length > 0" [src]="getFirstImageUrl(propiedad)" [alt]="propiedad.fotos[0].nombreFoto">
      <div class="seccion">
        <div class="tipoPropiedad">
          <p>{{ propiedad.tipoPropiedad }}</p>
        </div>
      </div>
      <div class="precios">
        <div class="precioInicial">
          <p>Inicial: {{ propiedad.costoInicial }}</p>
        </div>
        <div class="precioTotal">
          <p>Total: {{ propiedad.costoTotal }}</p>
        </div>
      </div>
      <div class="especificaciones">
        <div class="caracteristica">
          <img src="assets/img/icons/habitacion.png" alt="Habitaciones">
          <p>{{ propiedad.cantDormitorios }}</p>
        </div>
        <div class="caracteristica">
          <img src="assets/img/icons/bano.png" alt="Baños">
          <p>{{ propiedad.cantBanos }}</p>
        </div>
        <div class="caracteristica">
          <img src="assets/img/icons/area.png" alt="Area">
          <p>{{ propiedad.areaTerreno }} m<sup>2</sup></p>
        </div>
      </div>
      <div class="direccion">
        <p>{{ propiedad.direccion }}, {{ propiedad.distrito }}, {{ propiedad.provincia }}, {{ propiedad.region }}, {{ propiedad.pais }}</p>
      </div>
      <div class="ver-mas">
        <button [routerLink]="getRouterLink(propiedad)">Ver Mas</button>
      </div>
    </div>
  </div>
</div>
