<head>
  <title>Prototipo Inmobiliario</title>
  <link rel="stylesheet" href="ver-propiedad.component.css">
</head>

<body>
  <div class="contenedor">
      <div class="seccion-imagenes">
          <div class="imagen-principal">
              <img id="imagen-principal" src="../../../assets/img/casa1.jpg" alt="Casa Principal">
          </div>

          <div class="imagenes-miniatura">
              <img id="miniatura-1" src="../../../assets/img/casa1.jpg" alt="Casa 1">
              <img id="miniatura-2" src="../../../assets/img/CASA2.png" alt="Casa 2">
              <img id="miniatura-3" src="../../../assets/img/casas.png" alt="Casa 3">
              <img id="miniatura-4" src="../../../assets/img/CASA.png" alt="Casa 4">
          </div>
      </div>
      <div class="detalles">
          <div class="encabezado">
              <span class="etiqueta">Casa</span>
              <button class="boton-favorito">Añadir a favoritas</button>
          </div>
          <div class="ubicacion-costos">
              <div class="ubicacion">
                  <h2>Ubicación</h2>
                  <p>Av. Juan Pablo II, Trujillo</p>
                  <p>Victor Larco Herrera, Trujillo, La Libertad</p>
              </div>
              <div class="precios">
                  <div class="costo-total">
                      <span class="precio">Costo Total:</span>
                      <span class="precio">S/. 999 999</span>
                  </div>
                  <div class="costo-inicial">
                      <span class="precio">Costo Inicial:</span>
                      <span class="precio">S/. 99 999</span>
                  </div>
              </div>
          </div>
          <div class="descripcion">
              <h2>Descripción</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mauris neque, condimentum id risus et, cursus euismod enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi at maximus quam, non malesuada metus. Proin orci magna, pharetra convallis urna sed, scelerisque tincidunt lacus. Nam et libero euismod orci interdum semper id vitae neque.</p>
          </div>
          <h2>Especificaciones</h2>
          <div class="especificaciones">
              <div class="item-especificacion">
                  <div>
                      <strong>Área de Terreno:</strong> 100 m²
                  </div>
                  <div>
                      <strong>Cantidad de Baños:</strong> 3
                  </div>
                  <div>
                      <strong>Cantidad de Dormitorios:</strong> 4
                  </div>
              </div>

              <div class="item-especificacion">
                  <div>
                      <strong>Cochera: Sí</strong>

                  </div>
                  <div>
                      <strong>Cant. de Cocheras:</strong> 2
                  </div>
                  <div>
                      <strong>Cant. de Pisos:</strong> 2
                  </div>
              </div>

              <div class="item-especificacion">
                  <div>
                      <strong>Jardín: Sí</strong>
                  </div>
                  <div>
                      <strong>Área del Jardín:</strong> 20 m²
                  </div>
                  <div class="item-especificacion-horizontal">
                      <div>
                          <strong>Ático: No</strong>
                      </div>
                      <div>
                          <strong>Sótano: No</strong>
                      </div>
                  </div>
              </div>

              <div class="item-especificacion">
                  <strong>Otras Comodidades:</strong>
                  <div class="mostrar-comodidades">Lavanderia, Oficina, etc</div>
              </div>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1272.8415136621668!2d-79.054875071496!3d-8.135465999491277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zOMKwMDgnMDcuNyJTIDc5wrAwMycxNS4yIlc!5e1!3m2!1ses!2spe!4v1717361705226!5m2!1ses!2spe" width="1200" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="agente">
              <h2>Agente Inmobiliario</h2>
              <div class="info-agente">
                  <img src="../../../assets/img/agentes.jpg" alt="Agente">
                  <div class="detalles-agente">
                      <p>Juan Vargas Pereira</p>
                      <p>de Luxury Inmobiliaria</p>
                  </div>
              </div>
              <button class="boton-cta">Solicitar Cita</button>
          </div>
      </div>
  </div>
</body>




