<div class="container">
  <div class="imgLogin">
    <img src="assets/img/casas.png">
  </div>
  <div class="FormLogin">
    <form>
      <h1>Iniciar Sesión</h1>
      <div class="formOpc">
        <label>Correo: </label>
        <input type="email" name="correo" [(ngModel)]="loginRequest.correo" required>
      </div>
      <div class="formOpc">
        <label>Contraseña: </label>
        <input type="password" name="contrasena" [(ngModel)]="loginRequest.contrasena" required>
      </div>
      <p>¿Olvidaste la contraseña? <a href="#">Click Aqui!</a></p>

      <div class="btns">
        <button class="btnCancelar" routerLink="/index">Cancelar</button>
        <button type="submit" (click)="onSubmit()" class="btnAceptar" routerLink="/propiedades">Iniciar Sesion</button>
      </div>

      <div class="deco">
        <div class="line"></div>
        <div class="circle"></div>
        <div class="line"></div>
      </div>

      <div class="extra">
        <button class="btnAceptar" routerLink="/register">Registrate</button>
        <div class="demas">
          <p>Iniciar Sesion como Adminstrador <a routerLink="/iniciarSesionAgente">Click Aqui</a></p>
          <p>Iniciar Sesion como Inmobiliaria <a routerLink="/iniciarSesionInmobiliaria">Click Aqui</a></p>
        </div>
      </div>

    </form>
  </div>
</div>
