body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header h1 {
  margin: 0;
}

.add-agent-button {
  background-color: #001f4d;
  color: #ff7f00;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.add-agent-button span {
  margin-right: 10px;
}

.add-agent-button i {
  font-size: 1.2em;
}

.agents-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.agent-card {
  background-color: white;
  border-radius: 10px;
  border: solid 1px #cdcdcd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
section{
  padding: 5px 10px;
}
.agent-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: solid 2px #000000;
}

.agent-card h2 {
  margin: 10px 0;
  font-size: 18px;
}

.agent-card p {
  margin: 5px 0;
}

.opciones{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.btnModificar{
  padding: 10px 5px;
  border-radius: 0 0 0 10px;
  border-right: solid 1px #012169 ;
  border-top: solid 1px #012169;
  border-bottom: solid 1px #ffffff;
  border-left: solid 1px #ffffff;
  font-size: 14pt;
  color: #012169;
  background-color: #ffffff;
  width: 50%;
  transition: 0.5s;
}
.btnModificar:hover{
  border-bottom: solid 1px #012169;
  border-left: solid 1px #012169;
  color: #ffffff;
  background-color: #012169;
}
.btnModificar:active{
  border-bottom: solid 1px #ffffff;
  border-left: solid 1px #ffffff;
  color: #012169;
  background-color: #ffffff;
}

.btnEliminar{
  padding: 10px 5px;
  border-radius: 0 0 10px 0;
  border-left: solid 1px #012169;
  border-top: solid 1px #012169;
  border-bottom: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  color: #012169;
  font-size: 14pt;
  background-color: #ffffff;
  width: 50%;
  transition: 0.5s;
}
.btnEliminar:hover{
  border-bottom: solid 1px #012169;
  border-right: solid 1px #012169;
  color: #ffffff;
  background-color: #012169;
}
.btnEliminar:active{
  border-bottom: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  color: #012169;
  background-color: #ffffff;
}
